* {
    padding: 0;
    margin: 0;
  }
html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }
body {
    background-color: rgb(231, 231, 231);
}
.content {
    width: 100vw;
    height: 100vh;
}
.calculator-wrapper {
    width: 100vw;
    height: calc(100vh - 37px);
}
.calculator {
    background-color: rgb(166, 219, 194);
    width: 100%;
    height: 100%;
}
.screen-wrapper {
    width: 100%;
    padding: 60px 40px 40px;
}
.screen {
    font-family: 'FiraCodeRegular';
    min-height: 60px;
    overflow-x: hidden;
    background-color: rgb(231, 231, 231);
    color: rgb(89, 88, 88);
    border: 2px solid rgb(175, 173, 173);
    border-radius: 10px;
    box-shadow: inset 2px 2px 6px rgb(85, 84, 84);
    font-size: 28px;
    padding:8px;
    text-align: right;
}
.buttons-wrapper {
    padding: 0px 40px;
}
.top-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.top-buttons>.button{
    width:22%;
    
}
.bottom-buttons {
    display: flex;
    gap: 12px;
    margin-bottom: 50px;
}
.bottom-buttons>.button {
    width: 48%;
}
.button{
    border-radius: 20px;
    font-size: 24px;
    text-align: center;
    padding: 18px 0;
    box-shadow: 2px 2px 6px rgb(83, 83, 83);
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: rgb(106, 143, 130);
    color: white;
    -webkit-user-select: none;
    user-select: none;
}

.button:hover{
    transform: translateY(-3px);
    box-shadow: 2px 4px 6px rgb(83, 83, 83);
}
#clear {
	background-color: rgb(189, 127, 61);
}
#color {
    font-size: 20px;
}
#equals {
    font-size: 32px;
    padding: 10px 0px;
}

body.dark {
	background-color: #373737;
}
.calculator.dark {
	background-color: rgb(3, 34, 20);
	border: 1px solid rgb(6, 6, 6);
	border-radius: 20px;
	box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
.buttons.dark div {
	background-color: rgb(12, 83, 53);
	color: #d9d382;
}
.buttons.dark div:hover {
	transform: translateY(-3px);
	box-shadow: 1px 3px 5px rgb(0, 0, 0);
}
.screen.dark {
	background-color: rgb(126, 128, 67);
	color: rgb(66, 0, 0);
	border: 2px solid rgb(9, 8, 8);
	box-shadow: inset 2px 2px 6px rgb(9, 9, 9);
}
.dark#clear {
	background-color: rgb(81, 27, 14);
}
footer {
    width: 100vw;
    padding: 0.5rem;
    color: rgb(201, 198, 198);
    background-color: rgb(46, 46, 46);
    text-align: center;
    font-size: 18px;
}
footer>a{
    color: inherit;
    text-decoration: none;
    transition-duration: all 200ms;
}
footer>a:hover{
    color:rgb(245, 188, 33);
    font-weight: 500;
}

@media screen and (min-width: 481px) {
    .calculator-wrapper{
        display:grid;
        place-items: center;
    }
    .calculator {
        width: 400px;
        height: fit-content;
        border: 1px solid rgb(14, 136, 105);
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgb(165, 163, 163);
    }
}